@import "tailwindcss";

@theme {
  --animate-spin-slow: spin 20s linear infinite;
}

html,
body {
  min-width: 320px;
  min-height: 400px;
}

body {
  margin: 0;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}
