@import "tailwindcss";
@import "@/src/styles/global.css";

@theme {
  --animate-spin-slow: spin 20s linear infinite;
  --animate-shimmer: shimmer 1.5s ease-in-out infinite;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

html,
body,
#root {
  height: 100%;
}

html,
body {
  min-width: 420px;
  min-height: 640px;
}
