@import "tailwindcss";
@import "@/src/styles/global.css";

@theme {
  --animate-spin-slow: spin 20s linear infinite;
}

html,
body,
#root {
  height: 100%;
}

html,
body {
  min-width: 420px;
  min-height: 640px;
}
